.container {
    background-color: #2d2d44;

    padding: 20px;
    border-radius: 16px;

    max-width: 500px;
    margin: 40px auto;

    color: white;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
